  .navbar{
    opacity: 0.4;
    filter: alpha(opacity=40);
  }
  
  * {
      padding:0;
      margin:0;
      <!--      font-family: 'Nunito', sans-serif;-->
<!--      font-family: "Avenir LT W01 35 Light";-->
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
  
  .hide {
      height:0%;
      top:-50%;
  }
  
  
  .transparent{
      opacity: 0.4;
      filter: alpha(opacity=40);
  }

  .navbar-pad{
    padding-right: 20px;
  }

  #brandlogo{
    margin-top:5px;
  }
  
  .text-center{
      text-align: center;
  }
  
  .events-center{
      max-width: 850%;
      height:auto;
  }
  
  .relative{
      background: url("img_flwr.gif");
      background-size: 100% auto;
      background-repeat: no-repeat;
  }
  
  .bacons{
      background-image: url("img/events.jpg");
<!--      background-color: #cccccc;-->
  }
  

  
  html, body {
      height:100%;
  }
  
  .skrollr-desktop body {
      height:100% !important;
  }
  
  body {
      font-family:sans-serif;
  }
  
  p {
      margin:1em 0;
  }
  
  .parallax-image-wrapper {
      position:fixed;
      left:0;
      width:100%;
      overflow:hidden;
  }
  
  .parallax-image-wrapper-50 {
      height:50%;
      top:-50%;
  }
  
  .parallax-image-wrapper-100 {
      height:100%;
      top:-100%;
  }
  
  .parallax-image {
      display:none;
      position:absolute;
      bottom:0;
      left:0;
      width:100%;
      background-repeat:no-repeat;
      background-position:center;
      background-size:cover;
  }
  
  .parallax-image-50 {
      height:200%;
      top:-50%;
  }
  
  .parallax-image-100 {
      height:100%;
      top:0;
  }
  
  .parallax-image.skrollable-between {
      display:block;
  }
  
  .no-skrollr .parallax-image-wrapper {
      display:none !important;
  }
  
  .video-container {
      position: relative;
      padding-bottom: 5px;
      padding-top: 5px;
      width: 100%;
      height: 100%;
      overflow: hidden;
      max-width:760px;
      max-height:460px;
      min-height:200px
  }
  
  .video-container iframe {
      position: relative;
      top:0%;
      left:0%;
      width: 90%;
      height: 94%;
      max-width:760px;
      max-height:460px;
  }
  
  #skrollr-body {
      height:100%;
      overflow:visible;
      position:relative;
  }
  
  .gap {
      background:transparent center no-repeat;
      background-size:cover;
  }
  
  .skrollr .gap {
      background:transparent !important;
  }
  
  .gap-50 {
      height:50%;
  }
  
  .gap-100 {
      height:100%;
  }
  
  .header, .content {
      background:#fff;
<!--      padding:1em;-->

      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
  }
  
  .navbar-brand{
      position: absolute;
      padding: 2px 2% !important;
  }
  
  .navbar-default{
      background-color: black !important;
      border-color: black !important;
      opacity: 0.6 !important;
  }
  
  .navbar-default .navbar-nav > .active > a {
      background-color: black !important;
      color: yellow !important;
  }
  
  .navbar-collapse{
      border-top: none !important;
  }
  
  .content-full {
      height:100%;
  }
  
  .content-aboutus{
      if (screen.width<=800) {
          height:150%;
      }
      else  {
          height:100%;
      }
  }
  
  .hllogo{
      max-width:70%;
      height:auto;
      position:relative;
      top: 70vh;
      margin-left:auto;
      margin-right:auto margin-top:50px
  }
  
  .about-us-text{
      font-size: 17px;
  }
  
  .upcomingevents {
      height:40%;
  }
  
  .done {
      height:70px;
  }

  .img-holder {
    width:100%;
    height:300px;
    position:relative;
    overflow:hidden;
  }

  .img-holder img {
    position:absolute;
    top:-380px;
    height:750px;
    width:1200px;
  }

  
  /*for mobile*/
  @media screen and (max-width: 600px) {
      .video-container {
          position: relative;
          padding-bottom: 5px;
          padding-top: 35px;
          width: 100%;
          height: 100%;
          overflow: hidden;
          max-width:900px;
          max-height:43vh;
      }
      
      .video-container iframe {
          position: absolute;
          top:0%;
          left:5%;
          width: 90%;
          height: 90%;
          max-width:900px;
          max-height:43vh;
      }
      
      .upcomingevents {
          height:100%;
      }
      
      .about-us-text{
          font-size: 16px;
      }
      
  }
  
  /*for ipad*/
  @media screen and (min-width: 600px) and (max-width: 840px) {
      .video-container {
          position: relative;
          padding-bottom: 5px;
          padding-top: 35px;
          width: 100%;
          height: 100%;
          overflow: hidden;
          max-width:900px;
          max-height:65vh;
      }
      
      .video-container iframe {
          position: absolute;
          top:0%;
          left:5%;
          width: 90%;
          height: 90%;
          max-width:900px;
          max-height:65vh;
      }
      
  }
  
  /*for landscape*/
  @media screen and (orientation: landscape) and (max-width: 840px){
      .video-container {
          position: relative;
          padding-bottom: 5px;
          padding-top: 15px;
          width: 100%;
          height: 100%;
          overflow: hidden;
          max-width:900px;
          max-height:100vh;
      }
      
      .video-container iframe {
          position: absolute;
          top:0%;
          left:5%;
          width: 90%;
          height: 90%;
          max-width:900px;
          max-height:100vh;
      }
      
  }
  
  #photo-thumbs{
      width: 150px;
      float: left;
      height:600px;
      overflow:auto;
  }
  #photo-viewer-cont{
      width: 600px;
      float: right;
  }


  div.maincontent{
    height: 50%;
    width: 100%;
  }

  .maincontent{
    padding-top:50px;

  }