.container-fluid .navbar-brand {
      position: absolute;
      padding: 7px 2% !important;
}

/*CALENDAR*/

.custom-calendar-wrap {
  height: auto;
  max-width: 800px;
  min-width: 400px;
  display:block;
  text-align:center;

}

span.fc-date {
  font-family: Tahoma, Geneva, sans-serif !important;
  color: black !important;
  font-size: 18px !important;
}

.fc-calendar .fc-row > div.fc-today.fc-future >  span.fc-date {
  font-size: 25px !important;
  color: red !important;
  position: absolute;
  text-align: center;
}


.fc-calendar .fc-row > div.fc-today.fc-future.fc-content >  span.fc-date {
  color: black;
}

.fc-calendar .fc-row > div.fc-future.fc-content >  span.fc-date {
  color: black;
  background-color: transparent;
}

.fc-calendar .fc-row > div.fc-past.fc-content >  span.fc-date {
  color:black !important;
  background-color:transparent;
}

.fc-calendar .fc-row > div.fc-content >  span.fc-date {
  left:50%;
  top:50%;
}

div.fc-past.fc-content {
  background-color: #FFFFE0 !important;
}

div.fc-future.fc-content {
  background-color: #FFFFE0 !important;
}

div.fc-calendar-event > p, div.fc-calendar-event > img {
  display: none;
}

h2#custom-month.custom-month{
  color:black;
  font-weight: bold ;
}

h3#custom-year.custom-year{
  position:relative;
  top:-10px;
  color:black;
}

body {
  background:white!important;
}

body div.container {
    height:auto;
    display:block;
    margin-bottom:50px;
}

.img-holder img {
  position:absolute;
  top:-250px;
  height:750px;
  width:1200px;
}

.maincontent{
  background-size: 100% 100%;
  background-repeat:no-repeat;
}

div#myNavbar.collapse.navbar-collapse{
  padding-right:20px;
}

.popup-title {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 8px;
}

.popup-text {
  width:11em;
}

