/*CALENDAR*/

.custom-calendar-wrap {
  max-width: 800px;
  min-width: 400px;
  display:block;
  text-align:center;

}

.fc-calendar-container {
  height: 550px !important;
  }

span.fc-date {
  font-family: Tahoma, Geneva, sans-serif !important;
  color: black !important;
  font-size: 18px !important;
  left: 88% !important;
  top:14% !important;
}

.fc-calendar .fc-row > div.fc-content >  span.fc-date {
  left: 88%;
  top: 14%;
  position: absolute;
  z-index: 1;
  background-color: white !important;
  height: 21px;
  width: 25px;
  border-radius: 100;
}

.event-img {
  width:88px;
  height:80px;
  position:relative;
  margin-bottom:5px;
}


.fc-calendar .fc-row > div.fc-today.fc-future >  span.fc-date {
  font-size: 25px !important;
  color: red !important;
  position: absolute;
  text-align: center;
}








div.fc-calendar-event > p, div.fc-calendar-event > img {
  
}

h2#custom-month.custom-month{
  color:black;
  font-weight: bold ;
}

h3#custom-year.custom-year{
  position:relative;
  top:-10px;
  color:black;
}

body {
  background:white!important;
}

body div.container {
    height:auto;
    display:block;
    margin-bottom:50px;
}

.img-holder img {
  position:absolute;
  top:-250px;
  height:750px;
  width:1200px;
}

.maincontent{
  background-size: 100% 100%;
  background-repeat:no-repeat;
}

div#myNavbar.collapse.navbar-collapse{
  padding-right:20px;
}

.popup-title {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 8px;
}

.popup-text {
  width:11em;
}
