  html, body {
      height:100%;
  }

  .done {
      height:70px;
  }
  
  /*for mobile*/
  @media screen and (max-width: 600px) {
      .video-container {
          position: relative;
          padding-bottom: 5px;
          padding-top: 35px;
          width: 100%;
          height: 100%;
          overflow: hidden;
          max-width:900px;
          max-height:43vh;
      }
      
      .video-container iframe {
          position: absolute;
          top:0%;
          left:5%;
          width: 90%;
          height: 90%;
          max-width:900px;
          max-height:43vh;
      }
      
      .upcomingevents {
          height:100%;
      }
      
      .about-us-text{
          font-size: 16px;
      }
      
  }
  
  /*for ipad*/
  @media screen and (min-width: 600px) and (max-width: 840px) {
      .video-container {
          position: relative;
          padding-bottom: 5px;
          padding-top: 35px;
          width: 100%;
          height: 100%;
          overflow: hidden;
          max-width:900px;
          max-height:65vh;
      }
      
      .video-container iframe {
          position: absolute;
          top:0%;
          left:5%;
          width: 90%;
          height: 90%;
          max-width:900px;
          max-height:65vh;
      }
      
  }
  
  /*for landscape*/
  @media screen and (orientation: landscape) and (max-width: 840px){
      .video-container {
          position: relative;
          padding-bottom: 5px;
          padding-top: 15px;
          width: 100%;
          height: 100%;
          overflow: hidden;
          max-width:900px;
          max-height:100vh;
      }
      
      .video-container iframe {
          position: absolute;
          top:0%;
          left:5%;
          width: 90%;
          height: 90%;
          max-width:900px;
          max-height:100vh;
      }
      
  }